.f-left {
  transform: rotate(-45deg);
}

.f-right {
  transform: rotate(45deg);
}

.b-left {
  transform: rotate(45deg);
}

.b-right {
  transform: rotate(-45deg);
}

.forward {
}

.back {
}

.left {
}

.right {
}

.hold {
}

.straight-up {
}

.straight-down {
}

#test {
  text-align: center;
}

#controls-3d {
  display: flex;
  justify-content: center;
}

#delete-clear-send {
  display: flex;
  justify-content: center;
}

#controls-real-time {
  display: flex;
  justify-content: center;
}

#canvas {
  width: 640px;
  height: 360px;
  border-style: solid;
  border-width: 5px;
}

#status_container {
  width: 10vw;
  height: 25vh;
  margin-left: 25vw
}
