.f-left {
  transform: rotate(-45deg);
}

.f-right {
  transform: rotate(45deg);
}

.b-left {
  transform: rotate(45deg);
}

.b-right {
  transform: rotate(-45deg);
}

.drone0 {
  transform: rotate(0deg);
}

.drone1 {
  transform: rotate(90deg);
}
.drone2 {
  transform: rotate(180deg);
}
.drone3 {
  transform: rotate(270deg);
}

.flight-message-single {
  margin: 2px 0px;
}

#body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
}

#build-screen {
  text-align: center;
}

#fly-controls {
  display: flex;
  justify-content: center;
}

#canvas {
  display: flex;
  justify-content: center;
}

#sandbox {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 2em;
  margin-left: 0.5em;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#stream {
  width: 640px;
  height: 360px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: #1b1c1d;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 500px;
  padding: 5px;
}

#left-column {
  position: fixed;
  left: 0;
  background-color: #1b1c1d;
  min-height: 100%;
  padding: 7px;
}

#right-column {
  position: fixed;
  right: 0;
  background-color: #1b1c1d;
  min-height: 100%;
  padding: 7px;
}

#centered-padded-top {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

#centered {
  display: flex;
  justify-content: center;
}

#centered-panel {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#video-player {
  display: flex;
  justify-content: center;
}

.rounded {
  border-radius: 200;
}