.f-left {
  transform: rotate(-45deg);
}

.f-right {
  transform: rotate(45deg);
}

.b-left {
  transform: rotate(45deg);
}

.b-right {
  transform: rotate(-45deg);
}

.drone-button-image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.flight-message-single {
  margin: 2px 0px;
}

#body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
}

#build-screen {
  text-align: center;
}

#build-help {
  position: relative;
  right: 0;
  top: -87px;
}

#build-help:hover {
  opacity: 0.5;
}

#fly-controls {
  display: flex;
  justify-content: center;
}

#canvas {
  display: flex;
  justify-content: center;
}

#sandbox {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 2em;
  margin-left: 0.5em;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#stream {
  width: 640px;
  height: 360px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: #1b1c1d;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 500px;
  padding: 5px;
}

#left-column {
  position: fixed;
  left: 0;
  background-color: #1b1c1d;
  min-height: 100%;
  padding: 7px;
}

#right-column {
  position: fixed;
  right: 0;
  background-color: #1b1c1d;
  min-height: 100%;
  padding: 7px;
}

.centered-padded-top {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

#centered {
  display: flex;
  justify-content: center;
}

#centered-panel {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#video-player {
  display: flex;
  justify-content: center;
}

#status-segment {
  position: fixed;
}

#video-list {
  height: 100%;
  width: 350px;
  overflow: scroll;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-top: 30px;
}

#video-list a {
  color: white;
}

#video-list a:hover {
  text-decoration: underline;
}

#videos {
  margin-top: -14px;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#Up-strafe {
  background-color: #00a651;
  border-radius: 0.5rem;
  padding: 1rem;
  border-color: #484848;
  border-style: solid;
}

#Down-strafe {
  background-color: #00aeef;
  border-radius: 0.5rem;
  padding: 1rem;
  border-color: #484848;
  border-style: solid;
}

#Current-strafe {
  background-color: #afafaf;
  border-radius: 0.5rem;
  padding: 1rem;
  border-color: #484848;
  border-style: solid;
}

#controls {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > .row-item {
  padding-top: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
}

#scene-help {
  position: absolute;
  padding: 2rem;
  text-align: center;
  right: 0;
}

#scene-builder {
  margin-top: -28px;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

.numeric-input {
  margin: 3px;
  width: 43px;
}

.object-name {
  margin-bottom: 5px;
  color: yellow;
}

.object-header,
.flight-instructions-header,
.autopilot-instructions-header {
  margin-bottom: 15px;
  color: yellow;
}

#flight-instructions {
  overflow: auto;
  position: absolute;
  width: 25rem;
  right: 80px;
  margin-top: 120px;
  height: 576px;
}

#autopilot-instructions {
  overflow: auto;
  position: absolute;
  width: 280px;
  left: 867px;
  margin-top: 28px;
  height: 360px;
}

#object-list {
  overflow: scroll;
  height: 576px;
  width: 285px;
  margin-top: 120px;
  margin-right: 80px;
}

.object-removal-button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 36px;
  cursor: pointer;
  z-index: 5;
}
.object-removal-button:hover {
  color: rgb(30, 120, 255);
}

.object-name-input {
  width: 150px;
  margin-bottom: 3px;
}
.object-visibility-checkbox {
  position: absolute;
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 36px;
  cursor: pointer;
  z-index: 5;
}

.object-single {
  position: relative;
  margin: 2px 0px;
  margin-left: 50px;
}

.manual-control-logo {
  height: 360px;
}

.canvas {
  position: relative;
}

.legend {
  position: absolute;
  bottom: 12px;
  right: 10px;
  width: 70px;
}

.home-btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-builder-row {
  display: flex;
  justify-content: center;
}

.sm-ml {
  margin-left: 1rem !important;
}

.sm-mr {
  margin-right: 1rem !important;
}

.sm-mb {
  margin-bottom: 2rem !important;
}

.sm-mt {
  margin-top: 2rem !important;
}

.toggle-left-build {
  position: absolute;
  margin-top: 697px;
  margin-left: 495px;
}

.toggle-right-build {
  position: absolute;
  margin-top: 697px;
  right: 498px;
}

.toggle-left-scene {
  position: absolute;
  margin-top: 725px;
  left: 495px;
}

.toggle-right-scene {
  position: absolute;
  margin-top: 725px;
  right: 498px;
}

#drone-image {
  width: 700px;
  margin-top: 100px;
}
